@media screen, projection {

	.toggle-button:after {
		content: " \25BC";
	}

	.toggle-button.open:after {
		content: " \25B2";
	}

	// Position toggle button absolutely

	.toggle-button {
		position: absolute;
		top: 0.7em;
		right: 5%;
	}

}


@media #{$widescreen-breakpoint} {

	.toggle.hide {
		position: relative !important;
		clip: 0;
	}

	.toggle-button {
		display: none;
	}
}